body {
  padding-left: 11em;
  font-family: Georgia, "Times New Roman",
        Times, serif;
  color: purple;
  background-color: #d8da3d }
ul.navbar {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 2em;
  left: 1em;
  width: 9em }
h1 {
  font-family: Helvetica, Geneva, Arial,
        SunSans-Regular, sans-serif }
ul.navbar li {
  background: white;
  margin: 0.5em 0;
  padding: 0.3em;
  border-right: 1em solid black }
ul.navbar a {
  text-decoration: none }
a:link {
  color: blue }
a:visited {
  color: purple }
address {
  margin-top: 1em;
  padding-top: 1em;
  border-top: thin dotted }
body.showrss {background-color:rgb(200,200,250);}
h1.rss_title       {margin:0px;margin-top:2px;padding:0px;font:12pt Trebuchet MS;}
h2.item_title       {margin:0px;margin-top:2px;padding:0px;font:11pt Trebuchet MS;text-decoration:underline;}

p.rss_description        {margin:0px;margin-top:2px;padding:0px;font:8pt Verdana;}
p.item_description        {margin:0px;margin-top:2px;padding:0px;font:8pt Verdana;}
p.rss_link        {margin:0px;margin-top:2px;padding:0px;font:8pt Verdana;}
p.item_link        {margin:0px;margin-top:2px;padding:0px;font:8pt Verdana;}
p.rss_bottom        {margin:0px;margin-top:2px;padding:0px;font:8pt Verdana;}

a.rss_aheader      {color:#ff0000}
a.rss_aitem        {color:#ff2222}
a.rss_abottom      {color:#000000}

div.rss_header {margin:0px;padding:0px;width:200px;margin:auto;}
div.rss_item {margin:0px;padding:0px;width:200px;margin:auto;}
div.rss_bottom {margin:0px;padding:0px;width:200px;margin:auto;}
